/* .row{
   flex-wrap: nowrap;
} */

.product-details{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.product-details-image{
   margin-right: 6rem;
}

/* Use this to change the size of the image in Responsive design */
.product-details-image img{
   /* width: 90%; */
}

.product-details-info-title{
   font-size: 3rem;
}

.product-details-info-prices{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   width: 70%;
   justify-content: space-around;
   align-items: center
}

.product-details-info-price, .product-details-info-discount{
   margin-top: 50px;
   width: 30%;
   font-weight: 700;
}

.product-details-info-price{
   font-size: 3rem;
   text-decoration-line: line-through;
   color: rgba(125, 125, 125, 0.699);
}

.product-details-info-discount{
   font-size: 4rem;
   color: rgba(34, 116, 37, 0.699);
}

.product-details-info-button{
   margin-top: 50px;
   font-size: 2.5rem;
}

.products-list{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   margin: 1.1rem;
}

.card{
   border: none;
   background-color: rgba(246, 245, 245, 0.39);
}

.product-card{
   margin: 0.3rem;
   width: 20rem;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 4px 8px 0 rgba(34, 131, 31, 0.202);
   transition: 0.3s;
   border: 1px solid;
   border-color: rgba(5, 157, 25, 0.261);
}

.product-card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.404);
}

.card-description{
   font-size: 1.5rem;
   font-weight: 700;
}

.card-price{
   font-size: 2.2rem;
   font-weight: 700;
}

.product-card-form{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.product-card-form-buttons{
   display: flex;
   justify-content: space-around;
}

.product-card-form-group{
   display: flex;
   justify-content: flex-start;
}

.product-card-add-button{
   font-size: 1.6rem;
   background-color: #91d2952a;
   color: #27542ade;
   transition: 0.3s;
}

.product-card-add-button:hover{
   background-color: #578b5be0;
   color: white;
}

.card-img{
   height: 18rem;
   width: rem;
}