footer {
   height: 38%; 
   background-color: #91d2952a;
   width: 100%;
   color: #27542ade;
}

.footer-content{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.footer-contacts{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 20%;
   flex-direction: column;
   align-content: center;
   align-items: center;
   margin-top: 2rem;
}

.footer-contacts-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1px;
   margin-bottom: 1.5rem;
   gap: 1rem;
}

.footer-contacts h3{
   margin-top: 3rem;
   font-size: 2rem;
}

.footer-contacts li{
   list-style: none;
}

.footer-contacts a{
   text-decoration: none;
   color: #27542ade;
}

.footer-contacts ul li{
   font-size: 1.6rem;
}

.footer-schedule{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 35%;
   margin-top: 2rem;
}

#calendar{
   width: 80%;
}

#calendar thead{
   font-size: 1.5rem;
   text-align: center;
}

#calendar thead th{
   background-color: #91d2952a;
}

#calendar tbody th,
#calendar tbody tr td {
   font-size: 1rem;
   text-align: center;
   background-color: #91d2952a;
}

.table-success{
   font-weight: 700;
   background-color: #49954ede;
   color: white;
}

.footer-map {
   display: flex;
   justify-content: center;
   margin: 0rem 1rem;
   margin-top: 2rem;
   width: 30%;
}

.payment-logos{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   width: 20%;
}

.payment-logos img{
   width: 70%;
   margin-bottom: 0.5rem;
   padding: 1rem;
}

@media (max-width: 766px) {

   .footer-content {
      flex-direction: column;
      align-items: center;
   }

   .footer-contacts ul li{
      font-size: 1.2rem;
   }

   .payment-logos {
      width: 100%;
   }

   .payment-logos img{
      width: 30%;
      margin-bottom: 0.5rem;
   }

   .footer-schedule {
      width: 100%;
   }

   #calendar{
      width: 60%;
   }

   #calendar thead th,
   #calendar tbody th,
   #calendar tbody tr td {
      font-size: 1rem;
   }

   .footer-map {
      margin: 1rem 0rem;
   }

   iframe {
      width: 100%;
      height: 100%;
   }
}

@media (min-width:767px) and (max-width: 1400px) {
   .footer-contacts{
      width: 20%;
   }
   
   .footer-contacts ul li{
      font-size: 1rem;
   }

   .footer-schedule {
      width:35%;
   }

   #calendar{
      width: 90%;
   }

   #calendar thead th,
   #calendar tbody th,
   #calendar tbody tr td {
      font-size: 0.7rem;
   }

   .payment-logos {
      width: 15%;
   }

   .payment-logos img{
      width: 80%;
   }

    .footer-map {
      width: 20%;
      margin: 0rem 1rem
   }

   iframe {
      width: 100%;
      height: 100%;
   }

}

@media (min-width: 1400px) and (max-width: 1600px) {
   .footer-contacts{
      width: 20%;
   }
   
   .footer-contacts ul li{
      font-size: 1.3rem;
   }

   .footer-schedule {
      width:40%;
   }

   #calendar thead th,
   #calendar tbody th,
   #calendar tbody tr td {
      font-size: 0.9rem;
   }

   .payment-logos {
      width: 20%;
   }

   .payment-logos img{
      width: 80%;
   }

    .footer-map {
      width: 30%;
      margin: 0rem 1rem
   }

   iframe {
      width: 100%;
      height: 100%;
   }
}