.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden{
  display: none;
}

.main-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem 0rem;
}

/* Responsive */

/* @media(max-width:576px){
  .row{
      flex-direction: column;
      align-content: center;
      align-items: center;
  }

  .col-6{
      width: 100%;
  }
} */

/* @media(min-width:576px) and (max-width:767px){
  .row{
      flex-direction: column;
      align-content: center;
      align-items: center;
  }

  .col-4{
      width: 75%;
  }

  .col-6{
      width: 75%;
  }
} */


#purchaseSummary{
  text-align: center;
}